.nav>a:nth-of-type(1){margin: 0px 45px 0px 50px;}
.nav>a:nth-of-type(2){margin-right: 40px;}
.nav>a:nth-of-type(3){margin-right: 35px;}
.nav>a:nth-of-type(4){margin-right: 40px;}
#adv{width:100%;height: 38px; background: #FAFAFA; border: 1px solid #cccccc}
#adv>div{font-weight: 600;color: #808080;width:1200px;height: 38px;line-height: 38px; margin: 0 auto}
#adv>div>a{color: #808080}
#adv>div>span{font-weight: 400}
#content{width: 1200px;height: auto;margin: 25px auto 0px;}
.idmessage{width: 1200px;height:412px;
    background-color: #F5F5F5; }
.id_left{width: 345px;  height:298px;margin-left:110px;padding-top: 32px;float: left}
.pic{width: 400px;height:248px }
.pic>img{float: left}
.adminm{width: 189px;height: auto;float:right;font-size: 18px;font-weight: 600}
.adminm>p:nth-of-type(2),.adminm>p:nth-of-type(3),.adminm>p:nth-of-type(4){margin-top:10px; }
.adminm>p>span{color: red}
.adminm>div{margin-top: 10px}
.adminm>div>input{cursor: pointer;font-weight: 600;height: 25px; background: -webkit-linear-gradient(#FB3738,#D70101); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#FB3738,#D70101); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#FB3738,#D70101); /* Firefox 3.6 - 15 */
    background: linear-gradient(#FB3738,#D70101); /* 标准的语法 */
    border-radius: 6px;color: white;border: none;font-size: 18px;}
.adminm>div>input:nth-of-type(1){width:74px;}
.adminm>div>input:nth-of-type(2){width:98px;margin-left: 15px}
.passwd{font-weight: 600;font-size: 18px;margin-top: 5px}
.inpt>input{font-size: 18px;width: 238px;height: 30px;border-radius: 6px;border: 1px solid #cccccc;}
.input1{cursor: pointer;width:74px;font-weight: 600;height: 25px;background: -webkit-linear-gradient(#FB3738,#D70101); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#FB3738,#D70101); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#FB3738,#D70101); /* Firefox 3.6 - 15 */
    background: linear-gradient(#FB3738,#D70101); /* 标准的语法 */
    border-radius: 6px;color: white;border: none;font-size: 18px;}
.id_right{font-weight: 600;font-size: 18px;padding-top: 32px;margin-left:100px;float: left }
.id-hr{background: -webkit-linear-gradient(white,#cccccc, white); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(white,#cccccc, white); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(white,#cccccc, white); /* Firefox 3.6 - 15 */
    background: linear-gradient(white,#cccccc, white); /* 标准的语法 */
    float: left;width: 1px;height: 380px;padding-top: 32px;margin-left:142px;}
.btndiv{position: relative}
.input2{position: absolute;top:12px;left: 100px;}
.input3{position: absolute;top:12px;left: 265px}
.tabs{margin-top: 20px;margin-bottom: 120px}
.trs2{color:#828282;font-weight: 600 }
.table2{font-size: 15px;text-align: center}
.btnc{
    background: -webkit-linear-gradient(#FB3738,#D70101); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#FB3738,#D70101); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#FB3738,#D70101); /* Firefox 3.6 - 15 */
    background: linear-gradient(#FB3738,#D70101); /* 标准的语法 */
    border-radius: 6px;color: white;
}
.content_right{  float: left;margin-left: 30px;position: relative}
.content_right_img>img:nth-of-type(2){margin-left: 89px}
.content_right_img>img:nth-of-type(3){margin-left: 90px}
.line_red{width:90px;height: 4px;background: #ED0E3B;position: absolute;top: 85px;}
.line_hui{width:90px;height: 4px;background:#D8D8D8;position: absolute;top: 85px;}
.line_rht{left: 14px}
.line_cnt{left: 121px}
.line_lft{left: 225px}
.content_right>span{font-weight: 600;font-size: 18px;color: #828282}
.content_right>span:nth-of-type(1){padding-right: 22px;}
.content_right>span:nth-of-type(2){padding-right: 55px}
#color_red{color: #F30E35}
#color_red2{color: #F30E35}
#color_red3{color: #F30E35}
#color_red4{color: #F30E35}
.content_right_img{margin-top: 3px}
.palytime{
    width:302px ;
    height: 40px;
    line-height: 40px;
    color: #828282;
    border: 1px solid #cccccc;
    padding-left: 10px;
    margin-top: 15px;
}
.price{margin-top: 10px}
.price>span{font-weight: 600;font-size: 23px}
#price_size{font-size: 50px;color: #E80F3C}
#price_size2{font-size: 50px;color: #E80F3C}
#price_size3{font-size: 50px;color: #E80F3C}
#price_size4{font-size: 50px;color: #E80F3C}
.price_color{color: #E80F3C}
.some{margin-top: 10px}
.some>input:nth-of-type(1){width: 78px;height: 32px;background: #FCFCFC;border: 1px solid #cccccc}
.some>input:nth-of-type(2){cursor: pointer;width: 100px;height: 32px;border: 1px solid #E80F3C;background: #E80F3C;margin-left: 20px;color: white;font-weight: 600;font-size: 16px}
.save{color: #7D7D7D;font-size: 18px;margin-top: 10px;}